body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #D64667;
}

.m-0 {
  margin: 0;
}

.mT-20 {
  margin-top: 20px;
}

.mB-20 {
  margin-bottom: 20px;
}

.p-0 {
  padding: 0;
}

.pX-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.pY-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.fg-white {
  color: white;
}

.font-jumbo {
  font-size: 50px;
}

.social a {
  color: white;
  font-size: 36px;
  margin-right: 20px;
}

.social a:hover {
  color: white;
}

.description {
  margin: 30px 0px;
}

.description p {
  color: #2C2F36;
  font-size: 12px;
}

.description a {
  color: #2C2F36;
  font-weight: bold;
  text-decoration: none;
}

.description i {
  color: #2C2F36;
  font-size: 24px;
}

footer {
  background-color: #2C2F36;
  color: white;
}

footer h2 {
  font-size: 36px;
}

footer i {
  font-size: 14px;
  margin-right: 5px;
}

footer span {
  font-size: 14px;
}
