body {
  font-family: "Open Sans", sans-serif;
}

.div-wrapper {
  /* Height and width fallback for older browsers. */
  height: 100%;
  /* Set the height to match that of the viewport. */
  height: 100vh;
  /* Remove any browser-default margins. */
  margin: 0;
}

.avatar {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
  border: 3px solid #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.avatar img {
  width: 100%;
  background: #f0f0f0;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.info-section {
  background-color: #D64667;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.m-0 {
  margin: 0 !important;
}

.mT-20 {
  margin-top: 20px;
}

.mB-20 {
  margin-bottom: 20px;
}

.p-0 {
  padding: 0 !important;
}

.pT-60 {
  padding-top: 60px;
}

.pX-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.pY-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.fg-black {
  color: #2C2F36;
}

.font-jumbo {
  font-size: 50px;
}

.social a {
  color: #2C2F36;
  font-size: 36px;
  margin-right: 20px;
}

.social a:hover {
  color: #2C2F36;
}

.card-box {
  padding: 20px;
  background-color: #fff;
}

.description p {
  color: #2C2F36;
  font-size: 12px;
}

.description a {
  color: #2C2F36;
  font-weight: bold;
  text-decoration: none;
}

.description i {
  color: #2C2F36;
  font-size: 24px;
}
