body {
  font-family: "Open Sans", sans-serif;
  /* Height and width fallback for older browsers. */
  height: 100%;
  width: 100%;
  /* Set the height to match that of the viewport. */
  height: 100vh;
  /* Set the width to match that of the viewport. */
  width: 100vw;
  /* Remove any browser-default margins. */
  margin: 0;
}

header {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

header .overlay{
  background: rgba(0, 0, 0, .30);
  overflow: hidden;
  height: 100%;
  z-index: 2;
  margin: 0;
}


.ta-c {
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 auto;
  border: 3px solid #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.avatar img {
  width: 100%;
  background: #f0f0f0;
}

.m-0 {
  margin: 0 !important;
}

.mT-20 {
  margin-top: 20px;
}

.mB-20 {
  margin-bottom: 20px;
}

.p-0 {
  padding: 0 !important;
}

.pT-60 {
  padding-top: 60px;
}

.pX-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.pY-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.fg-white {
  color: #fff;
}

.font-jumbo {
  font-size: 50px;
}

.social a {
  color: #fff;
  font-size: 36px;
  margin-right: 20px;
}

.social a:hover {
  color: #fff;
}

.contact {
  color: white;
  font-size: 14px;

}

.contact i {
  margin-right: 5px;
}

.card-box {
  padding: 20px;
  background-color: #fff;
}

.description {
  background-color: #D64667;
}

.description p {
  color: #2C2F36;
  font-size: 12px;
}

.description a {
  color: #2C2F36;
  font-weight: bold;
  text-decoration: none;
}

.description i {
  color: #2C2F36;
  font-size: 24px;
}
